<div class="qrcodeContainer">
  <div class="qrcodeLeft">
    <img src="../../../../assets/qrcodeSvg.svg" alt="qrcodeImg" class="qrcodeImg">
  </div>
  <div class="qrcodeRight">
    <h2 class="qrcodeTitle">Geração de QR Code</h2>
    <form [formGroup]="qrcodeForm" class="qrcodeGroup">
      <div class="qrcodeForm">
        <mat-form-field color="accent" appearance="outline" class="data">
          <mat-label>Matrícula</mat-label>
          <input matInput formControlName="matricula" required />
          <mat-error *ngIf="qrcodeForm.controls['matricula'].hasError('required')">
            A matricula é obrigatória!
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <div class="qrcodeButton">
      <button class="btnBack" (click)="back()">Voltar</button>
      <button class="btnSave" (click)="save()">Gerar</button>
    </div>
  </div>
</div>
